Source: zope.i18nmessageid
Section: zope
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all-dev,
               python3-setuptools,
               python3-six,
               python3-zope.testrunner,
               python3-coverage
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://pypi.python.org/pypi/zope.i18nmessageid
Testsuite: autopkgtest-pkg-python

Package: python3-zope.i18nmessageid
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Conflicts: zope3
Description: Message Identifiers for internationalization
 This package provides facilities for declaring translatable messages ids
 within program source text;  translation of the messages is the
 responsibility of the zope.i18n package.
 .
 This is the Python 3 version.
