#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export PYBUILD_NAME=zope.i18nmessageid


%:
	dh $@ --with python3 --buildsystem=pybuild


override_dh_install:
	dh_install
	find debian/python3-zope.i18nmessageid -name '*.c' -delete
